params {
    input_file = "input.txt"

    output_dir = "output/"
    
    blast_reference_genomes_folder = "data"
    host_reference_genome = "combined_haplotype_genome.fa"
    remove_human_phix = false

}

profiles {

    codon_slurm {
            includeConfig "configs/codon_slurm.config"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
includeConfig 'configs/base.config'
