params {
    input_accession = "ERZ19489113"
    input_fasta = "/Users/sofia/mgnify/host_decontamination/matagenome.fasta.gz"

}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}

profiles {

    slurm {
            includeConfig "configs/slurm.config"
            process.executor = "slurm"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
