/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: MINIMAP2_ALIGN {
        ext.args = "-x asm5"
        publishDir = [
            path: { "${params.output_dir}/${task.tag}/" },
            mode: 'copy',
            pattern: "*.minimap*",
            // saveAs: "${task.tag}.minimap2.fa.gz"
        ]
    }

    withName: DOWNLOAD_ERZ {
        publishDir = [
            path: { "${params.output_dir}/${task.tag}/" },
            mode: 'copy',
            pattern: "*.fa.gz",
            // saveAs: "${task.tag}.original.fa.gz"
        ]
    }
    
    withName: BLAST_MAKEBLASTDB {
        ext.args = "-dbtype nucl"
    }

    withName: SEQKIT_GREP_HOST {
        ext.args = "--invert-match"
        publishDir = [
            path: { "${params.output_dir}/${task.tag}" },
            mode: 'copy',
            pattern: "*.{fa,fq}.gz",
            // saveAs: "${task.tag}.blastn.fa.gz"
        ]
    }

    withName:'BLAST_BLASTN*' {
        cpus   = { 12    * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }

        ext.args = [
            '-task',
            'megablast',
            '-word_size',
            '28',
            '-best_hit_overhang',
            '0.1',
            '-best_hit_score_edge',
            '0.1',
            '-dust',
            'yes',
            '-evalue',
            '0.0001',
            '-min_raw_gapped_score',
            '100',
            '-penalty',
            '-5',
            '-perc_identity',
            '80.0',
            '-soft_masking',
            'true',
            '-window_size',
            '100',
            '-outfmt',
            '"6 qseqid ppos"',
        ].join(' ').trim()
    }
}